/*** Base Styles ***/

body
{
font-family: 'Montserrat', sans-serif;
color: 0b0202;
}

/*** Header Styles ***/

.hero-image  {
	background-image: url("images/hero-image2.png"); 
	background-size: cover;
	height: 100vh;
}

#header .col-sm-6 {
	padding-top: 25px;
}

.saluation, .introduction  {
	color: white;
}

h1.saluation {
	font-size: 150px; 
	font-weight: bold;
	padding-top: 150px; 
}

h2.introduction {
	font-size: 50px;
	font-weight: bold; 
	padding-right: 200px; 
}

#header ul.list-unstyled {
	font-size: 30px;
	padding-left: 10px; 
}

span.colorful-text {
	-webkit-animation-name: colorful; /*Safari 4.0 - 8.0*/
	-webkit-animation-duration: 5s;
	-webkit-animiation-iteration-count: infinite;
	animation-name: colorful;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	/***color: rgb(244,107,153);***/
}

@-webkit-keyframes colorful { /*Safari 4.0 - 8.0*/
	from {
		color: rgb(244,107,153);
	}
	to {
		color: #F7EE74;
	}
}

@keyframes colorful {
	from {
		color: rgb(244,107,153);
	}
	to {
		color: #F7EE74;
	}
}

/*** Branding ***/

#logo-homepage {
	max-width: 75%;
	padding-left: 100px;
}


/*** Navigation Styles ***/


#navbar {
	margin-left: 20px; 
}

#header .nav-link:hover{
	color: #F5DEB3;
}

ul.justify-content-end {
	padding-left: 300px;
}

li.nav-item {
	padding-left: 30px;
	padding-top: 0;
	font-size: 20px;
}

button.navbar-toggler {
	background-color: rgba(176,51,95,.5);
}

.fixed-top {
  transition: background-color 200ms linear;
}


/*** Button Styles ***/

.btn {
	background-color: rgb(64,116,110);
	transition: all 0.5s;
    cursor: pointer;
	display: inline-block;
    position: relative;
}

 .btn:hover, #portfolio .btn:hover, #portfolio .btn-block:hover {
	background-color: rgb(176,51,95);
}

 .btn span:after, #portfolio .btn span:after, #portfolio .btn-block span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 10px;
  right: -10px;
  transition: 0.5s;
}

 .btn:hover span, #portfolio .btn:hover span, #portfolio .btn-block:hover span {
  padding-right: 25px;
}

 .btn:hover span:after, #portfolio .btn:hover span:after, #portfolio .btn-block:hover span:after {
  opacity: 1;
  right: 25px;
  top: 10px;
}

/*** Section Styles ***/

h1.section-title {
	color: rgb(64,116,110);
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 35;
	text-align: center;
}

#services h1 {
	padding: 100px 0 100px 0;
}

/*** Services Section Styles ***/

#services .row {
	padding-right: 150px;
}

#services .col-sm-4{
	padding-left: 150px; 
}

p.small {
	color: rgb(64,116,110);
	font-size: 20px;
	text-align: center;
}

p.services-summary {
	font-size: 20px;
	text-align: center;
}

#services .img-fluid {
	padding-left: 50px;
	padding-bottom: 15px;
	max-width: 75%;
}

#services .col-sm-auto {
	padding-top: 50px;
	padding-bottom: 200px;
	padding-left: 125px;
}

#services a {
	text-decoration: none;
	color: white; 
}

#services .btn span:after {
  top: 10px;
  right: -10px;
}


#services .btn:hover span:after {
  opacity: 1;
  right: 25px;
  top: 10px;
}

/*** About Section Styles ***/


#about h1 {
	padding: 25px; 
}
#about .col-sm-6:first-child {
	background-color: rgb(176,51,95);
	display: flex;
	justify-content: center;
}

#head-shot {
	padding: 100px 50px 0 50px;
}

#about .img-fluid{
	max-width: 75%;
	align-self: flex-start;
}

 h1 span.toolbox-header {
	color: white;
}

#biography {
	background-image: url("images/sos.png");
	padding: 50px 50px;
}

#about p {
	font-size: 20px;
	line-height: 2;
	padding: 0 50px;
}

#about .col-sm-12:last-of-type {
	background-color: rgb(64,116,110);
}

#about ul {
	padding-left: 50px;
}

#about li .img-fluid {
	max-width: 35%;
}

/*** Portfolio Section Styles ***/

#portfolio .col-sm-6{ 
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

#portfolio h1 {
	padding: 100px 0 100px 0;
}

#portfolio h3 {
	padding: 25px 75px 0;
	font-weight: bold;
}


#portfolio p {
	line-height: 2;
	padding: 15px 75px;
}
#portfolio .btn {
	margin-left: 75px;
	background-color: rgb(64,116,110);
	margin-bottom: 25px;
}

#portfolio .btn span:after {
	top: 5px;
  right: -10px;
}

#portfolio .btn:hover span:after {
  opacity: 1;
  right: 25px;
  top: 5px;
}

#portfolio .col-lg-auto {
	margin-left: 500px;
	padding-bottom: 50px;
}

#portfolio .btn-block {
	margin-top: 50px;
}
#portfolio .img-fluid {
	max-width: 80%;
	align-self: flex-start;
	padding: 50px 0 50px 100px;
}

#portfolio .box-1{
	background-color: rgb(176,51,95);
}

#portfolio h3, p {
	color: grey;
}

#portfolio .box-2 {
	background-image: url("images/sos.png");
}

#portfolio .box-3 {
	background-color:  rgb(64,116,110);
}

#portfolio .box-5 {
	background-color: rgb(176,51,95);
}

#portfolio .box-6 {
	background-image: url("images/sos.png");
}

#portfolio .box-7 {
	background-color:  rgb(64,116,110);
}

#portfolio .box-8 {
	background-color:  rgb(176,51,95);
}

#portfolio .box-9 {
	background-color:   rgb(64,116,110);
}


#portfolio a {
	text-decoration: none;
	color: white; 
}

/*** Contact Section Styles ***/
#contact h1 {
	padding: 100px 0 100px 0;
}

#contact {
	background-image: url("images/sos.png");
}

.fab, .far {
	font-size: 35px;
	padding-left: 100px; 
	padding-right: 25px;
	color: rgb(64,116,110);
}

#contact {
	padding-bottom: 100px;
}

/*** Footer Styles ***/

#copyright {
	background-color: rgb(64,116,110);
	text-align: center;
	padding: 25px;
}

#copyright p {
	color: white; 
}

/*** Portfolio Project Page Styles ***/

.project-image  {
	background-image: url("images/project-header.png"); 
	background-size: cover;
	height: 50vh;
}

.project-image h1, h2 {
	color: white;
	text-align: center;
}

#portfolio h3.project-title  {
	padding-left: 100px;
	padding-top: 50px;
}
#logo {
	max-width: 75%;
	padding-left: 50px;
}

#project-title {
	padding-top: 150px;
}

#project-nav .nav-link{
	color: white; 
}

#portfolio .project-summary {
	padding: 100px; 
}

#portfolio img {
	position: absolute;
}

#portfolio {
	position: relative;
}



.bottom  {
	animation-name: imagefade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-direction: alterante;
}

@keyframes imagefade {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}	

